<div class="add-department">
  <h2>Add Department</h2>
  <form [formGroup]="addDepartmentForm" (ngSubmit)="onSubmit()">
    <!-- Department Name -->
    <div class="form-group">
      <label for="name">Department Name</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter department name"
        required
      />
    </div>

    <!-- Head Dropdown with Lazy Loading and Search -->
    <div class="form-group modal-dropdown">
      <label for="head">Head (Doctor)</label>
      <input
        type="text"
        id="head-search"
        placeholder="Search Heads..."
        [value]="headSearchTerm"
        (click)="toggleHeadDropdown()"
        (input)="filterHeads($event.target.value)"
        (blur)="hideDropdown('head')"
      />
      <div
        class="dropdown-list"
        *ngIf="showHeadDropdown"
        (scroll)="onHeadScroll($event)"
      >
        <label *ngFor="let head of filteredHeads" (click)="selectHead(head)">
          {{ head.displayText }}
        </label>
        <label *ngIf="isLoadingHeads" class="loading-option">
          Loading more heads...
        </label>
      </div>
      <div *ngIf="selectedHeadInfo" class="user-info">
        {{ selectedHeadInfo }}
      </div>
    </div>

    <!-- Secretary Dropdown with Lazy Loading and Search -->
    <div class="form-group modal-dropdown">
      <label for="secretary">Secretary</label>
      <input
        type="text"
        id="secretary-search"
        placeholder="Search Secretaries..."
        [value]="secretarySearchTerm"
        (click)="toggleSecretaryDropdown()"
        (input)="filterSecretaries($event.target.value)"
        (blur)="hideDropdown('secretary')"
      />
      <div
        class="dropdown-list"
        *ngIf="showSecretaryDropdown"
        (scroll)="onSecretaryScroll($event)"
      >
        <label
          *ngFor="let secretary of filteredSecretaries"
          (click)="selectSecretary(secretary)"
        >
          {{ secretary.displayText }}
        </label>
        <label *ngIf="isLoadingSecretaries" class="loading-option">
          Loading more secretaries...
        </label>
      </div>
      <div *ngIf="selectedSecretaryInfo" class="user-info">
        {{ selectedSecretaryInfo }}
      </div>
    </div>


    <!-- Submit Button -->
    <button type="submit" [disabled]="addDepartmentForm.invalid">
      Add Department
    </button>
  </form>
</div>
