<div class="add-to-warehouse-container">
  <h2>Add Medicine to Warehouse</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group modal-dropdown">
      <label for="medicine">Select Medicine:</label>
      <input
        type="text"
        id="medicine-search"
        placeholder="Search Medicines..."
        [value]="medicineSearchTerm"
        (click)="toggleMedicineDropdown()"
        (input)="filterMedicines($event.target.value)"
        (blur)="hideMedicineDropdown()"
        required
      />
      <div
        class="dropdown-list"
        *ngIf="showMedicineDropdown"
        (scroll)="onMedicineScroll($event)"
      >
        <label
          *ngFor="let medicine of filteredMedicines"
          (click)="selectMedicine(medicine)"
        >
          {{ medicine.name }} - {{ medicine.expirationDate | date: 'shortDate' }} - Supplier ID: {{ medicine.supplier?.id }}
        </label>
        <label *ngIf="isLoadingMedicines" class="loading-option">
          Loading more medicines...
        </label>
      </div>
    </div>


    <div class="form-group">
      <label for="quantity">Enter Quantity:</label>
      <input
        type="number"
        id="quantity"
        [(ngModel)]="quantity"
        name="quantity"
        min="1"
        required
      />
    </div>

    <button type="submit" class="submit-btn">Add to Warehouse</button>
  </form>
</div>
