<app-custom-alert></app-custom-alert>
<div class="add-treatment-container">
  <h2>Add Treatment</h2>
  <form [formGroup]="treatmentForm" (ngSubmit)="onSubmit()">
    <!-- Select Doctor -->
    <!-- Doctor Dropdown Modal -->
    <div class="modal-dropdown">
      <label for="doctor">Doctor:</label>
      <input
        type="text"
        id="doctor-search"
        placeholder="Search Doctors..."
        [value]="doctorSearchTerm"
        (click)="toggleDoctorDropdown()"
        (input)="filterDoctors($event.target.value)"
        (blur)="hideDropdown($event, 'doctor')"
      />
      <div class="dropdown-list" *ngIf="showDoctorDropdown" (scroll)="onDoctorScroll($event)">
        <label *ngFor="let doctor of filteredDoctors" (click)="selectDoctor(doctor)">
         {{ doctor.displayText }}
        </label>
        <label *ngIf="loadingDoctors" class="loading-option">Loading more doctors...</label>
      </div>
    </div>

    <!-- Patient Dropdown Modal -->
    <div class="modal-dropdown">
      <label for="patient">Patient:</label>
      <input
        type="text"
        id="patient-search"
        placeholder="Search Patients..."
        [value]="patientSearchTerm"
        (click)="togglePatientDropdown()"
        (input)="filterPatients($event.target.value)"
        (blur)="hideDropdown($event, 'patient')"
      />
      <div class="dropdown-list" *ngIf="showPatientDropdown" (scroll)="onPatientScroll($event)">
        <label *ngFor="let patient of filteredPatients" (click)="selectPatient(patient)">
        {{ patient.displayText }}
        </label>
        <label *ngIf="loadingPatients" class="loading-option">Loading more patients...</label>
      </div>
    </div>



    <!-- Treatment Date -->
    <div class="form-group">
      <label for="treatmentDate">Treatment Date:</label>
      <input type="datetime-local" id="treatmentDate" formControlName="treatmentDate" required />
    </div>

    <!-- Disease Description -->
    <div class="form-group">
      <label for="diseaseDescription">Disease Description:</label>
      <textarea id="diseaseDescription" formControlName="diseaseDescription" required></textarea>
    </div>

    <!-- Notes -->
    <div class="form-group">
      <label for="note">Notes:</label>
      <textarea id="note" formControlName="note"></textarea>
    </div>

    <!-- Price -->
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" formControlName="price" required min="1" />
    </div>

    <button type="submit" class="submit-btn">Add Treatment</button>
  </form>
</div>
